* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #333;
    color:white;

}

.container {
    max-width: 1920px;
    margin: 0 auto;
    height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

header>p {
    font-size: 1.5rem;
    font-weight: 700;
}

header>ul {
    display: flex;
}

header>ul>li {
    list-style-type: none;
    margin-left: 1.5rem;

}

header>ul>li>a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;
    padding-bottom: 5px;
    color:white;
}

header>ul>li:first-child>a {
    border-bottom: 5px solid darkblue;
}

section{
    
    text-align: center;
}

header>ul>li>a:hover {
    border-bottom: 5px solid gray;
}
@media screen and (max-width:600px){
    header {
        flex-direction:column;
    }

}

section>p {
    margin-bottom: 1rem;
}

section>p:first-child {
    font-size: 10rem;
    font-weight: 800;
}

section>p:last-of-type{
    font-size: 1.3rem;
    font-weight: 500;
}

section>a{
    display: block;
    border: 2px solid gray;
    width: 150px;
    font-size: 2rem;
    font-weight: 900;
    margin: auto ;
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
    background-color: white;
    color: black;
}

section>a:hover{
    display: block;
    border: 2px solid gray;
    width: 150px;
    font-size: 2rem;
    font-weight: 900;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgb(255,80,80);
    color: rgb(255, 255, 255);
}


footer {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    color: gray;
}

footer>a {
    text-decoration: none;
    color: white;
}
